/* .dataBricksWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
} */
/* .brickHead {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
} */
.brickHeadPeice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 630px) {
    .dataBricksWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .brickHead {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .oneBrick {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    
        border: 2px black solid;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        height: 35px;
        background-color: var(--brick_bgColor);
    }
    .oneBrick:hover {
        height: 42px;
        background-color: grey;
    }
}
@media screen and (max-width: 629px) {
    .dataBricksWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    .brickHead {
        display: none;
        /* grid-template-columns: 3fr 1fr 1fr 1fr; */
    }
    .oneBrick {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px var(--border_color) solid;
        border-radius: 15px;
        padding: 10px;
        cursor: pointer;
    }
    .oneBrick:hover {
        /* height: 42px; */
        background-color: grey;
    }
    
}
@media screen and (max-width: 460px) {
    .dataBricksWrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }    
}


/* .oneBrick:hover {
    height: 42px;
    background-color: grey;
} */
/* .gridAreaN { grid-area: n; }
.gridAreaD { grid-area: d; }
.gridAreaC { grid-area: c; }
.gridAreaR { grid-area: r; } */
/* .oneBrickLightTheme {
    background-color: rgb(178, 175, 175);
}
.oneBrickDarkTheme {
    background-color: rgb(92, 86, 86);
} */

.oneBrickPiece {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}