.profileWrappedDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: 40px 10%;
    align-items: center;
    /* background-color: blue; */
}

.avaImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    cursor: pointer;
}

.profile_head {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.line_div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    /* margin-top: 10px; */
    height: 50px;
    width: 100%;
}
.line_div h2 {
    font-size: 25px;
}
.line_div label {
    font-size: 21px;
}
/* .myLegend {
    margin: 20px;
} */

@media screen and (min-width: 1000px) {
    .user_interface_settings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}
@media screen and (min-width: 615px) and (max-width: 999px) {
    .user_interface_settings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}
@media screen and (max-width: 614px) {
    .user_interface_settings {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.user_interface_settings_one_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px var(--border_color) solid;
    border-radius: 15px;
    padding: 20px;
}

.small_icons {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

