.questions {
    display: flex;
    flex-direction: column;
    gap: 30px;

    justify-content: center;
    align-items: center;

    width: 80%;
    margin: 30px 10% 30px 10%;
    /* background-color: red; */
}

@media screen and (min-width: 700px) {
    .oneQuestion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* background-color: yellow; */
        gap: 15px;
    }
}
@media screen and (max-width: 699px) {
    .oneQuestion {
        display: flex;
        flex-direction: column;
        /* background-color: yellow; */
        gap: 15px;
    }
}

.oneOption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 201, 224);

    border: 2px black solid;
    border-radius: 10px;

    min-width: 150px;
    min-height: 30px;

    cursor: pointer;
}
.oneOptionSelected {
    background-color: green;
}


.controlButtonsDiv {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    gap: 20px;
}

.question_div_824 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.question_div_824_error {
    border: 2px red solid;
    border-radius: 10px;
}
.questions_error_label {
    color: red;
}