.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    margin: var(--margin_top_for_chapter) 5%;
}
@media screen and (min-width: 700px) {
    .qaDiv {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    .qaDiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.appearance {
    border: 2px var(--border_color) solid;
    border-radius: 10px;
    width: 70%;
    padding: 20px 0px;
    gap: 5px;
}

.supplierArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label_title_1 {
    font-size: 30px;
    font-weight: bold;
}
.label_title_2 {
    font-size: 20px;
    font-weight: bold;
}
.supplierHeadDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 700px) {
    .existedRisk {
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* padding: 20px 0; */
    }
}
@media screen and (max-width: 700px) {
    .existedRisk {
        display: flex;
        flex-direction: column;
    }
}

.qaQuestion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.qaAnswer {
    padding: 20px;
}

.changeZoneDiv {
    display: flex;
    flex-direction: column;
}

.risks {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.low {
    border: 2px green solid;
    color: green;
    padding: 20px;
    border-radius: 10px;
}
.medium {
    border: 2px yellow solid;
    color: yellow;
    padding: 20px;
    border-radius: 10px;
}
.high {
    border: 2px red solid;
    color: red;
    padding: 20px;
    border-radius: 10px;

}
.commentLabel {
    padding: 20px;
}

.formErrorDiv {
    /* border: 2px red solid; */
    color: red;
    padding: 7px;
}

.changeZone_Risk {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* gap: 20px; */
}
@media screen and (min-width: 600px) {
    .risk_width { flex-direction: row; gap: 20px;}
}
@media screen and (max-width: 600px) {
    .risk_width { flex-direction: column; gap: 5px;}
}

.changeZone_Commet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width:100%; */
    padding-left: 20px;
    padding-right: 40px;
    gap: 5px;
}
.changeZone_SaveButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.btn_padding {
    margin-top: 15px;
    padding-right: 20px;
}