.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;

    /* width: 95%; */
    margin: var(--margin_top_for_chapter) 0;
    /* background-color: green; */
}
/* @media screen and (min-width: 700px) {
    .qaDiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: red;
    }
}
@media screen and (max-width: 700px) {
    .qaDiv {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
} */
.qaDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}
.qaDivOne { 
    width: 100%; 
    text-align: center; 
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 700px) {
    .one_QA_part {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        width: 100%;
    }
}
@media screen and (max-width: 699px) {
    .one_QA_part {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.QA_question {
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    justify-content: center;
    align-items: center;
}
.QA_answers {
    /* margin-bottom: 15px; */
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.QA_answers_button_div {
    margin: 5px 5px;
    min-width: 100px;
    min-height: 40px;
    background-color: grey;
    border-radius: 10px;
    border: 2px var(--border_color) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.QA_answers_button_div_checked { background-color: goldenrod;}
.QA_text_answer_div {
    margin: 5px 5px;
}
.QA_multilinetext_answer_div {
    margin: 5px 5px;
}

.appearance {
    border: 2px var(--border_color) solid;
    border-radius: 10px;
    width: 95%;
    padding: 20px 0px;
}

.supplierArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label_title_1 {
    font-size: 30px;
    font-weight: bold;
}
.label_title_2 {
    font-size: 20px;
    font-weight: bold;
}
.supplierHeadDates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (min-width: 700px) {
    .existedRisk {
        display: grid;
        grid-template-columns: 1fr 3fr;
        /* padding: 20px 0; */
    }
}
@media screen and (max-width: 700px) {
    .existedRisk {
        display: flex;
        flex-direction: column;
    }
}

.qaQuestion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.qaAnswer {
    padding: 20px;
}

.changeZoneDiv {
    display: flex;
    flex-direction: column;
}

.risks {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.low {
    border: 2px green solid;
    color: green;
    padding: 20px;
    border-radius: 10px;
}
.medium {
    border: 2px yellow solid;
    color: yellow;
    padding: 20px;
    border-radius: 10px;
}
.high {
    border: 2px red solid;
    color: red;
    padding: 20px;
    border-radius: 10px;

}
.commentLabel {
    padding: 20px;
}

.formErrorDiv {
    /* border: 2px red solid; */
    color: red;
    padding: 7px;
}

.changeZone_Risk {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* gap: 20px; */
}
@media screen and (min-width: 600px) {
    .risk_width { flex-direction: row; gap: 20px;}
}
@media screen and (max-width: 600px) {
    .risk_width { flex-direction: column; gap: 5px;}
}

.changeZone_Commet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width:100%; */
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
}
.changeZone_SaveButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}
.btn_padding {
    margin-top: 15px;
    padding-right: 20px;
}