.searchMainDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 5px;
}

.searchByTextDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.additionSearchOptionsDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: blue; */
}

.searchDateComplitedDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.searchByDate_fieldWidth {
    width: 110px;
}

.riskMainDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
    /* margin: 10px 10px; */
}
.riskOption {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.riskUndefined { border: 2px black solid; }
.riskUndefined:hover {background-color: rgb(165, 165, 165);}
.riskUndefinedChecked {
    background-color: white;
    color: black;
}

.riskLow { border: 2px green solid; }
.riskLow:hover { background-color: rgb(208, 239, 208);}
.riskLowChecked {
    background-color: green;
    color: white;
}

.riskMedium { border: 2px yellow solid; }
.riskMedium:hover { background-color: rgb(241, 241, 73); }
.riskMediumChecked {
    background-color: yellow;
    color: black;
}

.riskHigh { border: 2px red solid; }
.riskHigh:hover { background-color: rgb(241, 148, 148);}
.riskHighChecked {
    background-color: red;
    color: white;
}

.arrows {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.oneOptionDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.complitedCheckOptionCircle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: 0.2s all linear;

    width: 23px;
    height: 23px;
    /* color: red; */
    background-color: rgb(171, 171, 168);
    border-radius: 50%;
    border: 2px var(--border_color) solid;
}
.checkedInputAll {
    background-color: yellow;
}
.checkedInputComplited {
    background-color: green;
}
.checkedInputNotComplited {
    background-color: red;
}

/* .complitedCheckOptionCircle:checked {
    background-color: green;
} */
.complitedCheckOption {
    /* padding-left: 10px; */
    /* padding-right: 20px; */
    
}