.input_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
}
.ligend_input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.2s all linear;

    min-width: 23px;
    min-height: 23px;
    background-color: grey;
    border-radius: 50%;
    border: 2px var(--border_color) solid;
}
.ligend_input_checked {
    background-color: green;;
}
.ligend_input:hover {
    scale: 1.2;
}
.ligend_label {
    font-size: 22px;
}
.ligend_label_checked {
    font-size: 25px;
}