.newWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: var(--margin_top_for_chapter) 50px;
    justify-content: center;
    align-items: center;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 10px;
    padding: 30px;
    border: 2px var(--border_color) solid;
    border-radius: 15px;
    /* width: 400px; */
    /* min-width: 400px; */
}
@media screen and (min-width: 550px) {
    .fields_width { width: 400px; }
}
@media screen and (max-width: 550px) {
    .fields_width { width: 90%; }
}

.oneField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    /* background-color: blue; */
}

@media screen and (min-width: 590px) {
    .labelText { width: 100%;}
}
@media screen and (min-width: 419px) and (max-width: 590px) {
    .labelText { width: 90%; }
}
@media screen and (max-width: 419px) {
    .labelText { width: 210px; }
}


.buttonsDiv {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media screen and (min-width: 400px) {
    .btn_width { flex-direction: row; }
}
@media screen and (max-width: 400px) {
    .btn_width { flex-direction: column; }
}


.newSupplier_link_div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.newSupplier_link_link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
}
@media screen and (min-width: 600px) {
    .newSupplier_link_link_width1 { width: 500px; }
}
@media screen and (max-width: 599px) {
    .newSupplier_link_link_width1 { width: 350px; }
}

.error {
    /* padding: 10px 15px;
    border-radius: 10px;
    border: 2px red solid; */
    color: red;
}

.copy_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.newSupplierButtons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}