.profileDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    padding: 50px 30px;
}

@media screen and (max-width: 789px) {
    .dashboardHeadStyles {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        width: 100%;
    }
    .newCreationDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}
@media screen and (min-width: 790px) {
    .dashboardHeadStyles {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .newCreationDiv {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
    }
}





.icon_yes_no {
    width: 30px;
    height: 30px;
}
.risk {
    padding: 3px 5px;
    border-radius: 5px;
    border: 2px solid;
    font-weight: bold;
}
.risk_low {
    color: green;
    border-color: green;
}
.risk_medium {
    color: yellow;
    border-color: yellow;
}
.risk_high {
    color: red;
    border-color: red;
}

.buttonCreateNew {
    min-width: 120px;
    width: 100%;
}

.star {
    width: 30px;
    height: 30px;
}
