.footer {
    flex: 0 0 auto;
    
    position: relative;
    bottom: 0;
    width: 100%;

    background-color: var(--header_footer_bgColor);
    
    height: var(--footer_height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

    color: var(--font_color);
}